# Logs
logs
*.log

# Coverage directory used by tools like istanbul and vitest
coverage

# vitest generated artifacts.
.vitest

# Build
dist

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# IDE settings
.vscode
.idea
.settings
